<div class="how-to-place-order">
  <div class="how_to_get_order">
    <div class="mobile_layouts">
      
    </div>
    <div class="desktop_layouts">
    
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "how-to-place-order",
    "settings": [],
"presets":[
{
  "name":"how-to-place-order"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}