{% layout 'theme.liquid' %}

<div class="flex flex-col min-h-screen bg-background">
  {%- section 'pod-landing-hero' -%}
  {%- section 'pod-landing-features' -%}
  {%- section 'pod-landing-steps' -%}
  {%- section 'pod-landing-membership' -%}
  {%- section 'pod-landing-testimonials' -%}
  {%- section 'pod-landing-cta' -%}
</div>